name: Release

on:
  push:
    branches:
      - main
      - master

# permissions:
#   contents: write
#   issues: write
#   pull-requests: write
#   packages: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write # Crucial: Allows creating tags/releases
      pull-requests: write # Allows commenting on PRs
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://npm.pkg.github.com"

      - name: Update npm to latest version
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Verify the integrity of provenance attestations and registry signatures for installed dependencies
        run: npm audit signatures

      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
        #   GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        # #   NODE_AUTH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: npx semantic-release
